apiVersion: v1
kind: Pod
metadata:
  name: "{{ .AppName }}--rag-server"
  labels:
    ai-services.io/application: "{{ .AppName }}"
spec:
  containers:
    - name: web
      image: docker.io/library/nginx:latest
      ports:
        - containerPort: 80
          hostPort: 8000
    - name: sidecar
      image: "docker.io/library/alpine:latest"
      command: ["sh", "-c", "while true; do echo sidecar alive; sleep 5; done"]
