name: Scheduled CVE Scan

on:
  schedule:
    - cron: '0 0 */2 * *'

  workflow_dispatch:
  pull_request:

jobs:
  minio:
    uses: ./.github/workflows/scanner.yml
    with:
      image: 'minio'
      skip-image-build: true
      ignore-unfixed: false
    secrets:
      ICR_USERNAME: ${{ secrets.ICR_USERNAME }}
      ICR_APIKEY: ${{ secrets.ICR_APIKEY }}

  etcd:
    uses: ./.github/workflows/scanner.yml
    with:
      image: 'etcd'
      skip-image-build: true
      ignore-unfixed: false
    secrets:
      ICR_USERNAME: ${{ secrets.ICR_USERNAME }}
      ICR_APIKEY: ${{ secrets.ICR_APIKEY }}

  rag-base:
    uses: ./.github/workflows/scanner.yml
    with:
      image: 'rag-base'
      skip-image-build: true
      ignore-unfixed: false
    secrets:
      ICR_USERNAME: ${{ secrets.ICR_USERNAME }}
      ICR_APIKEY: ${{ secrets.ICR_APIKEY }}

  rag:
    uses: ./.github/workflows/scanner.yml
    with:
      image: 'rag'
      skip-image-build: true
      ignore-unfixed: false
    secrets:
      ICR_USERNAME: ${{ secrets.ICR_USERNAME }}
      ICR_APIKEY: ${{ secrets.ICR_APIKEY }}

  rag-ui:
    uses: ./.github/workflows/scanner.yml
    with:
      image: 'rag-ui'
      skip-image-build: true
      ignore-unfixed: false
    secrets:
      ICR_USERNAME: ${{ secrets.ICR_USERNAME }}
      ICR_APIKEY: ${{ secrets.ICR_APIKEY }}

  tools:
    uses: ./.github/workflows/scanner.yml
    with:
      path: 'tools'
      skip-image-build: true
      ignore-unfixed: false
    secrets:
      ICR_USERNAME: ${{ secrets.ICR_USERNAME }}
      ICR_APIKEY: ${{ secrets.ICR_APIKEY }}
