name: Scheduled CVE Scan

on:
  schedule:
    - cron: '0 0 */2 * *'

  workflow_dispatch:
  pull_request:

jobs:
  minio:
    uses: ./.github/workflows/scanner.yml
    with:
      path: 'images/minio'
      image: 'minio'  
    secrets:
      ICR_USERNAME: ${{ secrets.ICR_USERNAME }}
      ICR_APIKEY: ${{ secrets.ICR_APIKEY }}
  
  etcd:
    uses: ./.github/workflows/scanner.yml
    with:
      path: 'images/etcd'

  rag-base:
    uses: ./.github/workflows/scanner.yml
    with:
      path: 'images/rag-base'

  rag:
    uses: ./.github/workflows/scanner.yml
    with:
      path: 'spyre-rag/src'
    secrets:
      ICR_USERNAME: ${{ secrets.ICR_USERNAME }}
      ICR_APIKEY: ${{ secrets.ICR_APIKEY }}

  rag-ui:
    uses: ./.github/workflows/scanner.yml
    with:
      path: 'spyre-rag/ui'

  tools:
    uses: ./.github/workflows/scanner.yml
    with:
      path: 'images/tools'
