name: Scheduled CVE Scan

on:
  schedule:
    - cron: '*/5 * * * *'
  
  workflow_dispatch:

jobs:
  minio:
    uses: ./.github/workflows/scanner.yml
    with:
      path: 'images/minio'
      skip-license-scan: true
  
  etcd:
    uses: ./.github/workflows/scanner.yml
    with:
      path: 'images/etcd'
      skip-license-scan: true

