name: Go

on:
  push:
    paths:
      - 'ai-services/**'
    branches:
      - main
  pull_request:
    paths:
      - 'ai-services/**'
      - '.github/workflows/go.yml'
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'ai-services/go.mod'

      - run: go version

      - name: Go mod tidy
        working-directory: ai-services
        run: |
          go mod tidy
          git diff --exit-code go.mod go.sum
 
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6
          working-directory: ai-services

      - name: Build Go binary
        working-directory: ai-services
        run: |
          GOOS=linux GOARCH=ppc64le make build
  
  cves:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      
      - name: Run trivy scan
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: 'fs'
          scan-ref: 'ai-services'
          severity: 'CRITICAL,HIGH'
          ignore-unfixed: true
      

