name: Image Scanner

on:
  workflow_call:
    inputs:
      path:
        required: true
        type: string
    secrets:
      ICR_USERNAME:
        required: false
      ICR_APIKEY:
        required: false

env:
  IMAGE_FILE_NAME: image.tar
  ICR_REGISTRY: icr.io
  ICR_NAMESPACE: ai-services-cicd

jobs:
  cves:
    runs-on: ubuntu-24.04-ppc64le
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      
      - name: Build image
        working-directory: ${{ inputs.path }}
        run: |
          make build REGISTRY=${{ env.ICR_REGISTRY }}/${{ env.ICR_NAMESPACE }} REGISTRY_USER=${{ secrets.ICR_USERNAME }} REGISTRY_PASSWORD=${{ secrets.ICR_APIKEY }}
